<sociel-menu></sociel-menu>
<section>
  <div class="icon-fixo">
    <div class="fixo">
      <a href="https://www.facebook.com/sociel.sociel" target="_blank"
        ><i class="fa-brands fa-facebook"></i
      ></a>
      <a href="https://www.instagram.com/socieloptica" target="_blank"
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </div>
  </div>
  <div class="better">
    <img src="assets/principal2.jpg" />
  </div>

  <div class="centro">
    <img src="assets/logo_sociel.png" />

    <h1>SOCIEL</h1>
  </div>
</section>

<div id="oculos">
  <!-- <div *ngFor="let imagem of videos">
    <img [src]="imagem.title" />
  </div> -->
</div>

<!--<div id="fabrica">
  <div *ngFor="let fabrica of fabricas">
    <h2>{{ fabrica.title }}</h2>
    <p>{{ fabrica.text | slice : 0 : 860 }} ...</p>
  </div>
</div>-->
<sociel-history></sociel-history>
<sociel-gallery></sociel-gallery>
<sociel-footer-page></sociel-footer-page>
