<sociel-menu></sociel-menu>
<section>
  <div class="better">
    <img src="assets/principal1.jpg" />
  </div>

  <div class="centro">
    <img src="assets/logo_sociel.png" />

    <h1>SOCIEL</h1>
  </div>
</section>

<div id="oculos">
  <!-- <div *ngFor="let imagem of videos">
    <img [src]="imagem.title" />
  </div> -->
</div>

<!--<div id="fabrica">
  <div *ngFor="let fabrica of fabricas">
    <h2>{{ fabrica.title }}</h2>
    <p>{{ fabrica.text | slice : 0 : 860 }} ...</p>
  </div>
</div>-->
<sociel-history></sociel-history>
<sociel-gallery></sociel-gallery>
<sociel-footer-page></sociel-footer-page>
