<div class="fundo">
  <div class="container1">
    <div class="gallery">
      <figure class="gallery__item gallery__item--1">
        <img
          src="./assets/galaria/DSC0044.png"
          alt="Gallery image 1"
          class="gallery__img"
        />
      </figure>
      <figure class="gallery__item gallery__item--2">
        <img
          src="./assets/galaria/DSC0065.png"
          alt="Gallery image 2"
          class="gallery__img"
        />
      </figure>
      <figure class="gallery__item gallery__item--3">
        <img
          src="./assets/galaria/DSC0074.png"
          alt="Gallery image 3"
          class="gallery__img"
        />
      </figure>
      <figure class="gallery__item gallery__item--4">
        <img
          src="./assets/galaria/DSC0111.png"
          alt="Gallery image 4"
          class="gallery__img"
        />
      </figure>
      <figure class="gallery__item gallery__item--5">
        <img
          src="./assets/galaria/DSC0181.png"
          alt="Gallery image 5"
          class="gallery__img"
        />
      </figure>
      <figure class="gallery__item gallery__item--6">
        <img
          src="./assets/galaria/DSC0190.png"
          alt="Gallery image 6"
          class="gallery__img"
        />
      </figure>
      <figure class="gallery__item gallery__item--7">
        <img
          src="./assets/galaria/DSC0204.png"
          alt="Gallery image 6"
          class="gallery__img"
        />
      </figure>
      <figure class="gallery__item gallery__item--8">
        <img
          src="./assets/galaria/DSC0214.png"
          alt="Gallery image 6"
          class="gallery__img"
        />
      </figure>
      <figure class="gallery__item gallery__item--9">
        <img
          src="./assets/galaria/DSC0229.png"
          alt="Gallery image 6"
          class="gallery__img"
        />
      </figure>
      <figure class="gallery__item gallery__item--10">
        <img
          src="./assets/galaria/DSC0211.png"
          alt="Gallery image 6"
          class="gallery__img"
        />
      </figure>
    </div>
  </div>
</div>

<div class="center">
  <button class="button-8" role="button">
    <li>
      <a routerLink="/galaria"><h3>Ver mais</h3></a>
    </li>
  </button>
</div>
