<div id="fabrica">
  <div class="container1">
    <div class="cta">
      <div class="cta-text-box">
        <h2 class="heading-secondary">Fábrica Sociel, Lda</h2>
        <h3>O Início</h3>
        <p class="cta-text">
          A Sociel nasce em 1964, na cidade de Gondomar, através do Sr. António
          Coimbra. Em 1968, este rendeu-se à energia e à liderança nata de José
          Maria dos Santos Rodrigues, um jovem de 15 anos que aos 18 anos já
          geria cerca de 40 colaboradores. Manuel Fernando dos Santos Rodrigues,
          integrou quadros da firma 1970, pois manifestava uma apetência
          singular para a comunicação e para a área comercial. Com a enorme
          vontade de ter sucesso nas suas carreiras e paixão pelo ofício, os
          dois irmãos e companheiros, lutaram com seriedade e dedicação para
          atingirem o seu objetivo - a aquisição da Sociel. A capacidade de
          trabalho, aliada à paixão, curiosidade e evolução na área da ótica
          foram prontamente evidenciadas. Em 1981/82, anos em que a empresa
          apresenta uma nova gerência composta por José Rodrigues, Manuel
          Fernando Rodrigues e António Júlio Antunes, procura-se responder às
          necessidades dos clientes e proporcionar um atendimento de maior
          proximidade, efetuando visitas de Norte a Sul de Portugal Continental
          e Arquipélago da Madeira e Açores. Assim, impôs-se no mercado nacional
          intitulando-se como uma empresa familiar, com boas práticas, espírito
          de sacrifício e seriedade. Confiando na sua capacidade de trabalho,
          surgem várias parcerias com colaboradores, grupos de óticos e
          oculistas e novos clientes tendo por objetivo uma relação recíproca de
          sucesso.
        </p>
        <h3>O Renascimento</h3>
        <p class="cta-text">
          O ano de 1995 foi de grande expansão para a empresa sendo criadas
          novas instalações devido à necessidade de maiores infra-estruturas
          dado o volume de produção, especialmente, com as marcas Sociel,
          Rodsant e Kanali fabricadas pelas mãos dos nossos artesãos e com
          recurso a pequena maquinaria. Nesta fase imperou o espírito
          empreendedor e desafiador.
        </p>
        <h3>A Expansão</h3>
        <p class="cta-text">
          Após uma fase menos positiva no contexto nacional, já em 2011, fruto
          do interesse dos meios de comunicação social em projetar o que se
          fazia com excelência em Portugal, a Sociel "renasceu" com o conceito
          de único, artesanal, qualidade e fabricado à mão em Portugal. Tendo
          por base a frase "Só os fortes resistem", em 2014, os irmãos e amigos
          José Rodrigues e Manuel Fernando Rodrigues assumem integralmente a
          gerência e é neste ano que se assinalam os 50 anos de existência da
          empresa. Razões não faltaram para tal comemoração, pois também se
          verificou um novo aumento na procura pelo fabrico com qualidade e à
          mão em Portugal. A Sociel afirma-se na área da internacionalização e
          acresce um valor emocional e sentimental quando todos os clientes são
          tratados como "nossa família" e as nossas portas estão abertas a todos
          que nos procuram. De referir que este sucesso tem rostos dos que
          caminham ao lado de José Maria e Fernando e que estão por trás da
          nossa marca. Atualmente, é gerida por José Rodrigues, sabendo-se
          porém, que Manuel Fernando continua presente e com toda a força neste
          legado. Em 2024, a Sociel não será só uma fábrica de armações de
          óculos e óculos de sol em acetato que renasceu com a arte de articular
          conceitos de artesão e de inovação.
        </p>
        <h3>Missão e Valores</h3>
        <p class="cta-text">
          A empresa apresenta um conjunto de valores de responsabilidade,
          integridade, seriedade, liderança e nunca permitiu que o seu ADN fosse
          alterado. Para além disso, o seu Know-How é tão reconhecido nacional
          como internacionalmente pela sua autenticidade e carisma. Importa-se
          com as fragilidades sociais e contribuiu positivamente na comunidade e
          com os parceiros que se identifiquem com a sua linha de atuação.
        </p>
      </div>

      <div class="cta-img-box" role="img" aria-label="Imagem"></div>
    </div>
  </div>
</div>
<sociel-galaria-principal></sociel-galaria-principal>
<div id="oculos" class="video">
  <div *ngFor="let video of videoList">
    <img [src]="video.title" *ngIf="mostrar" class="lightbox" />
    <youtube-player [videoId]="video.videoId" [height]="315" [width]="560"
      ><!--[height]="315" [width]="560"-->
    </youtube-player>
  </div>
</div>

<div class="empresa">
  <img src="./assets/logotipo50.png" alt="" />
  <img class="empresa-logo" src="./assets/image.png" alt="" />
</div>
