<section class="galaria">
  <div *ngFor="let produto of produtos | slice : 0 : 6">
    <div class="cartao info">
      <img
        [src]="produto.image"
        alt="produto"
        routerLink="/details/{{ produto.id }}"
      />
      <div class="cat-det">
        <p>{{ produto.category }}</p>
      </div>
      <div class="text">
        <p>{{ produto.modelo }}</p>
        <div class="colors">
          <div class="color">
            <img [src]="produto.color_one" />
          </div>
          <div class="color">
            <img [src]="produto.color_two" />
          </div>
          <div class="color">
            <img [src]="produto.color_three" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="center">
  <button class="button-8" role="button">
    <li>
      <a routerLink="/product"><h3>Ver mais</h3></a>
    </li>
  </button>
</div>
<!-- routerLink="/details/{{ produto.id }}" -->
