<section class="information padding">
  <div>
    <div class="titulo">Horários:</div>
    <h6>
      09:00 às 12:30<br />
      13:30 às 18:30
    </h6>
  </div>
  <div>
    <div class="titulo">Morada:</div>
    <h6>
      <a
        href="https://www.google.com/maps/place/Sociel,+Lda/@41.1474771,-8.5256559,216m/data=!3m1!1e3!4m6!3m5!1s0xd2463439f059a73:0x9f77e533743ed882!8m2!3d41.1476033!4d-8.5256189!16s%2Fg%2F1th64nf3?hl=pt-PT&entry=ttu"
        target="_blank"
      >
        Rua Ferreira de Castro, nº 12 <br />
        S. Cosme 4420-145 Gondomar</a
      >
    </h6>
  </div>
  <div>
    <div class="titulo">Fábrica:</div>
    <h6>
      <a href="tel:+351224831192">(+351) 224 831 192 <br /></a>

      <span>Chamada para a Rede Fixa Nacional</span>
    </h6>
  </div>
  <div>
    <div class="titulo">Armazém:</div>
    <h6>
      <a href="tel:+351224830055">(+351) 224 830 055</a> <br />
      (+351) 224 641 737 (fax) <br />
      <span>Chamada para a Rede Fixa Nacional</span>
    </h6>
  </div>
  <div>
    <div class="titulo">Email:</div>
    <h6>
      <a href="mailto:sociel@gmail.com">sociel@gmail.com</a>
      <br />
    </h6>
  </div>
</section>
