<footer>
  <div class="grid grid--footer">
    <figure class="grid_item_1">
      <img src="assets/logo_sociel.png" alt="logo" class="logo_img" />
      <div class="icon">
        <a href="https://www.facebook.com/sociel.sociel" target="_blank"
          ><i class="fa-brands fa-facebook"></i
        ></a>
        <a href="https://www.instagram.com/socieloptica" target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </div>
    </figure>
    <div class="grid_item_2">
      <h3>Segunda à Sexta-feira:</h3>
      <div class="fotter_p">09:00 às 12:30</div>
      <div class="fotter_p">13:30 às 18:30</div>
    </div>

    <div class="grid_item_3">
      <h3>Morada:</h3>
      <div class="fotter_p">
        <a
          href="https://www.google.com/maps/place/Sociel,+Lda/@41.1474771,-8.5256559,216m/data=!3m1!1e3!4m6!3m5!1s0xd2463439f059a73:0x9f77e533743ed882!8m2!3d41.1476033!4d-8.5256189!16s%2Fg%2F1th64nf3?hl=pt-PT&entry=ttu"
          target="_blank"
        >
          Rua Ferreira de Castro, nº 12 <br />
          S. Cosme 4420-145 Gondomar</a
        >
      </div>
    </div>

    <div class="grid_item_4">
      <h3>Fábrica:</h3>
      <div class="fotter_p">
        <a href="tel:+351224831192">(+351) 224 831 192 <br /></a>
        <span>Chamada para a Rede Fixa Nacional</span>
      </div>
    </div>

    <div class="grid_item_5">
      <h3>Armazém:</h3>
      <div class="fotter_p">
        <a href="tel:+351224830055">(+351) 224 830 055</a> <br />
        (+351) 224 641 737 (fax) <br />
        <span>Chamada para a Rede Fixa Nacional</span>
      </div>
    </div>

    <div class="grid_item_6">
      <h3>Email:</h3>
      <div class="fotter_p">
        <a href="mailto:sociel@gmail.com">sociel@gmail.com</a>
      </div>
    </div>

    <div class="grid_item_7">
      <div class="fotter_p">
        <p>
          © Copyright {{ date | date : 'y' }} - Reservados todos os direitos
        </p>
        <div class="autor">
          <a href="https://www.csdeveloper.net" target="_blank">
            By Carlos Silva - Web Developerr</a
          >
        </div>
      </div>
    </div>

    <div class="grid_item_8">
      <div class="fotter_p">
        <ul>
          <li>
            <p>
              <a href="https://www.livroreclamacoes.pt/Inicio/" target="_blank">
                Livro de reclamações.</a
              >
            </p>
          </li>
          <li>
            <p>
              <a href="https://cicap.pt/" target="_blank">
                Centro de arbitragem.</a
              >
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
